<html>
  <head>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/chat/socket.io.js"></script>
    <style lang="less">
ul li {
  list-style-type: none;
}
    </style>
  </head>
  <body>
    <div class="container">
       <ul class="ul">
         <li class="left">aaaaaaaaaa</li>
       </ul>

      <div>
        <input type="text" class="form-control" id="input">
      </div>
    </div>
    <script>
(function() {
  const socket = io('/a', {
    path: '/chat',
    query: {
      token: 'alJO2V99Bw',
    }
  });

  const data = {};

  $('#input').on('keyup', function(e) {
    if (e.keyCode !== 13) {
      return;
    }

    const message = $('#input').val();

    data.msg = message;

    socket.emit('ask message', data);
  });

  socket.on('error', (a, b, c) => {
    console.log(a, b, c);
  });
  socket.on('destory', data => {
    console.log('destory');
    socket.destroy();
  });

  socket.on('answer message', (data) => {
    $('.ul').append('<li class="left">'+data.msg+'</li>');
  });
  socket.on('ask message', (data) => {
    $('.ul').append('<li class="right">'+data.msg+'</li>');
  });

})()
    </script>
  </body>
</html>
